body{
    background-image:url("https://media.istockphoto.com/id/1353553203/photo/forest-wooden-table-background-summer-sunny-meadow-with-green-grass-forest-trees-background.jpg?b=1&s=170667a&w=0&k=20&c=-jvR1WDwcloLXRgRTGeyG3frvrhPIbegdemeL6vY2Pk=");
    background-size: cover;
     background-attachment: scroll;

}


.container1 {
    border:1px solid saddlebrown;

}

.flex-box-container1{
    display:flex;
    border: 1px solid  green;
    padding: 18px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
 
}

.flex-box-container1 div{
display: flex;
padding: auto;
border: 1px solid black;
align-items: center;

}


.container2 {
    padding: 10px;
    border:1px solid saddlebrown;


}

.flex-box-container2 {
    display:flex;
    border: 1px solid  black;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;   
}

.flex-box-rps img:hover{
    box-shadow: 8px 10px 50px blue(37,50,233,1);
    border: 3px solid  black;
    justify-content: space-around;

}

.container3 {
    padding: 10px;


}

.flex-box-container3 {
    display:flex;
    border: 1px solid  black;
    justify-content:center;
    align-items:baseline;   
}

